$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$orage: #fa5519;
$grey: #777777;
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: inherit;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  // border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: $grey;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  @media device and (max-width: 370px){
    .header .btn-default {
      display: block;
      float: left;
      margin-bottom: 10px;
      margin-right: 10px;
    }
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    margin: inherit;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    // margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

html, body, .map-container, .container-fluid {
    width: 100vw;
    height: 99vh;
    margin: 0;
    padding: 0;
}
map {
    position: relative;
    height: 100% !important;
}
.row {
  margin: 0px !important;
}
.tracking-icon {
  margin-left: 1em;
  font-size: 1.2em;
  vertical-align: middle;
}

.sidr-close, .sidr-expand {
  cursor: pointer; 
  &:hover {
    color: $orage;
  }
}
.main-menu {
  .sidr-close {
    right: 0.5em;
    margin-right: 1em;  
    margin-top: 15px;
    position: absolute;
    padding-left: 10px;
  }
}
#sidr-left {
  bottom: 0px;
  width: 100%;
  height: 30vh;
  right: auto;
  top: inherit;
    .sidr-close {
      right: 2em;
      top: 1.6em;
      position: absolute;
    }
    .sidr-expand {
      display: inline-block;
      position: relative;
    }
    .comments {
      font-size: 0.65em;
      padding-left: 0.35em;
        a {
          cursor: pointer
        }
    }
    .left {
      margin-left: 2em;
      position: absolute;
    }

}
    .expanded {
      height: 75% !important;
    }



input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.menu-item {
display: block;
line-height: 60px;
height: auto;
border-top: 1px solid white;
 li {
  cursor: pointer;
 }
}
.category {
  left: 10px;
  position: relative;
  font-size: 1.5em
}
.category-checkbox {
position: relative;
margin: 0px !important;
display: inline-block;
font-size: 2em;
left: 15px;
margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;
}


.ride-checkbox{
  display: inline-block !important;
  padding: 0px !important;
  margin-left: 2px !important;
  margin: 0px !important;
  position: absolute !important;
  right: 15px !important;
  margin-top: 17px !important;
}

.ride-name{
display: block !important;
letter-spacing: 0.1em;
font-weight: 100;
color: #ff8c29;
width: 86%;
right: 0px !important;
left: inherit;
position: relative;
margin-right: 0px !important;
}


.layer-description, .layer-distance, .comment-section {
  display: inline-block;
  font-size: 1em;
  padding: 0.5em 2.5em;
}
.layer-distance {
  margin-top: 15px;
}
.comment-section {
  width: 100%;
  .comment-box {
    width: 100%;
    padding: 1em;
    background-color: gray;
    border: 1px solid white;
    margin-bottom: 1.5em;

  }
}
.add-comment {
  display: block;
  padding-left: 2.5em;
  cursor: pointer;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
.spinner {
width: 15px;
height: 15px;
position: relative;
margin: 0px;
display: inline-block;
background-color: #ccc;
border-radius: 100%;
display: none;
  border-radius: 100%;  
  -webkit-animation: scaleout 1.5s infinite ease-in-out;
  animation: scaleout 1.5s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

h2 {
margin-top: 0px;
margin-bottom: 13px;
}
.btn {
  border-radius: 0px;
}
.sidr-left {
  width: 20% !important;
}

.contact {
  cursor: pointer;
  display: block;
  padding: 10px 15px;
  position: relative;
  font-size: 1.5em;
  text-decoration: underline;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.1em;
}

.landscape {
  position: absolute;
  display: block;
  top: 0px;
  z-index : 9999;
}

.loader{
  height: 20px;
  width: 20px;
  text-align: center;
  display: none;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #FF6700;
}

.btn-primary {
  background-color: #ff8c29;
  border-radius: 3px;
  &:hover {
    background-color: #ff8c29;
  }
  &:focus {
    background-color: #ff8c29;
  }  
}
.btn-default {
  border-color: #ff8c29;
  background-color: #2e6da4;
  border-radius: 3px;
  color: #ffffff;
  &:hover {
    background-color: #2e6da4;
    color: #ffffff;
  }
  &:focus {
    background-color: #2e6da4;
    color: #ffffff;
  }

}


// =======================================================================================================================
// =======================================================================================================================

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index: 999999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 999999;
  position: absolute;
  width: 50%; /* Default */
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
    p {
      font-size: 1.5em;
      color: $grey;
    }
    .input-group {
      margin-bottom: 2em;
    }
    button {
      margin-top: 2em;
      font-size: 1.5em;
    }
}
.ng-modal-close {
  @extend .sidr-close;
  color: #333;
  font-size: 1.5em; 
  margin-top: 1.5em;
  margin-right: 1.5em;
  text-align: right;
  display: block;
}

#comment-text {
  height: 30vh;
}