<p>
	<a href="" onclick="history.go(-1);" >
		<button id="back-btn" class="btn btn-default" style="font-size: 1.5em; margin-left:30px; margin-top: 1.75em">
			<b class="glyphicon glyphicon-arrow-left" style="margin-right: 7px"></b>Back</button>
	</a>
	<br>

	<ul>
		<li>The trails were mapped using the <a href="https://play.google.com/store/apps/details?id=com.google.android.maps.mytracks&hl=en">My Tracks app</a> for android.
			<ul>
				<li>Install the app</li>
				<li>Ride a trail while tracking your position</li>
				<li>Export the trail file to Google Drive or external storage as a .KML file</li>
				<li>Send the KML file with the button below or send a link to a public Google Drive file</li>
			</ul>
		</li>
		<li>Exporting Strava data
			<ul>
				<li>Ride a trail while tracking your position</li>
				<li>Save your ride to Activity Feed</li>
				<li>Log into your account on <a href="http://www.strava.com/">Strava.com</a></li>
				<li>Select the ride you wish to share</li>
				<li>Click the wrench icon and Export GPX</li>
				<li>Send the GPX file with the button below</li>
			</ul>
		</li>
		<li>When sending a trail file please send it as .KML or .KMZ if possible</li>
	</ul>
	<a href="mailto:mccabj0210@gmail.com">
		<button id="email-btn" class="btn btn-primary" style="font-size: 1.5em; margin-left:30px"><b class="glyphicon glyphicon-envelope email-icon" style="margin-right: 7px"></b>Send an E-mail</button>
	</a>
</p>
